*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

/********login page css ******/

.loginpagecontainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: rgb(27,66,125);
  color: white;
}

h1{
  margin-bottom: 50px;
}

.email{
  border: 1px solid white;
  padding: 0px;
  width: 400px;
  margin-bottom:40px;
}

.password{
  margin-bottom: 15px;
}

.email h6{
  text-align: center;
  position: relative;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
  background-color: rgb(27,66,125);
  font-size: 15px;
}

.emailh6{
  width: 110px;
}

.passwordh6{
  width: 80px;
}

.username{
  width: 85px;
}

.email input{
  width: 400px;
  background-color: transparent;
  border: none;
  height: 30px;
  padding: 20px;
  position: relative;
  top: -5px;
  font-size: 1.3rem;
  color: white;
}

.email input:focus{
  outline: none;
}

.email input::placeholder{
  color: rgb(107, 123, 146);
}

input[type=checkbox]{
  position: relative;
  left: -188px;
  background: rgba(0,0,0,0.08);
  transform: scale(2);
  outline: none;
}

label[for=checkbox]{
  position: relative;
  top: -15px;
  left: -110px;
}

.forgetpassword{
  position: relative;
  top: -32px;
  right: -140px;

}

#checkbox{
  background-color: transparent !important;
}

button[type=submit]{
  padding: 15px 20px;
  font-size: 1rem;
  color: rgb(27,66,125);
  border: none;
  font-weight: 700;
  cursor: pointer;
  width: 200px;
  margin-top:20px ;
}

.userImage{
  width: 70px;
  height: 70px;
  border-radius: 50%;
 
}

.taskbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color:rgb(28,67,126);
  height: 100px;
  width: 100vw;
  justify-content:space-between;
  align-items: center;
  color: white;
  padding: 0px 20px;
}

.innerTask{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.innerTask h1{
  margin-left: 20px;
  margin-bottom: 0px;
}

.tasknote_container{
  max-width: 1800px;
  margin:0 auto;
  margin-top:50px ;
}

.addbutton{
  position:absolute;
  top: 95%;
  left: 95%;
  transform: translate(-95%,-95%);
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 3rem;
  font-weight: 700;
  background-color: rgb(28,67,126);
  color: white;
  transition: .5s;
  z-index: 9999;
}

.addbutton:focus{
  outline: none;
}

.addbutton:hover{
  box-shadow:         4px 4px 20px 0px rgba(50, 50, 50, 0.47);
}

.menubutton{
  font-size: 1.5rem;
}

.addtask{
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important; 
  border: none !important;
  background-color: rgb(27,66,125) !important;
  font-size: 2rem !important;
  color: white !important;
  font-weight: 700 !important;
}

.addtask:focus{
  outline: none !important;
}

.alignbuttonaddtaskandlabel{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.addtaskinput{
  width: 45%;
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  transition: 0.5s;
}

.addtaskinput:focus{
  outline: none;
  border-bottom: 1px solid black;
}

@media screen and (max-width:500px){
  .alignbuttonaddtaskandlabel{
    justify-content: space-between;
  }
}